<li>
  <strong style="color: blue;">
    {{msg.email}}
  </strong>
  &nbsp
  <span style="color: brown;">
    [
    {{msg.timeStamp}}
    ]:
  </span>
  &nbsp
  <em style="color: green;">
    {{msg.msj}}
  </em>
</li>